html 
    head
        title=title
    body   
        div #subject #{title}<!--동적인 컨텐츠 표현-->
        div#msg <!--긴 문장 나눠서 표현 가능-->
            |1.동적인 컨텐츠
            |2. 긴 문장 나워서 표현
            |3. html태그를 포함한 데이터 전달
        div#element03 !{content}<!--전달하려는 JSON데이터 값이 HTML태그를 포함하고있다면-->

<!--자바스크립트와 CSS-->
<!--Pug에서 script와 style 태그에 한하여 |을 사용하지 않고도 여러 줄로 구성된 코드 구현이 가능하다-->
        //으로도 주석처리가 가능하다 //을 출력하고 싶으면 뒤에 -을 붙이자
        //근데 여기선 들여쓰기로 여러줄 포함이 가능하다
        script 
        if (foo) {
            bar();
        } else {
            baz();
        }