

html 
    head  
        title=title 
    body 
        h1=title 
        dib#msg  #{message}
        div#cont !{content}
        
        #contents(style="border:1px solid black;")
          input(type="checkbox",checked)
